@page
@model AddItemModel

<h2>Add Item</h2>

<form method="post">

    <input asp-for="ItemName"
           placeholder="Enter Item Name" />

    <button type="submit">
        Add Item
    </button>

</form>